---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Card from "../components/Card.astro"
import data from "../data/portfolio.json"
import Icono from "../components/Icono.astro";
import GradeCard from "../components/Grade-card.astro";

---

<Layout title="Fabian Daza Fullstack Developer">
  <Header />
  <main>
    <section class="hero flex justify-center items-center">
      <div
        class="bg-zinc-900 flex flex-col items-center w-[300px] p-[30px] rounded-3xl shadow-xl shadow-blue-500/50 tra"
      >
        <img
          src="./imagenes/perfil-linkedin.webp"
          alt=""
          class="w-[250px] h-[250px] rounded-full border-4 border-blue-500"
        />
        <h1 class="text-center text-2xl mt-3">Fabián Daza</h1>
        <h2 class="text-center">Desarrollador fullstack</h2>
        <div class="flex justify-center">
			<a class="p-3 text-white hover:text-blue-500 ease-out duration-300 fill-white hover:fill-blue-500" href="https://www.linkedin.com/in/fbdaza/">
				<svg
				xmlns="http://www.w3.org/2000/svg"
				class="icon icon-tabler icon-tabler-brand-linkedin"
				width="40"
				height="40"
				viewBox="0 0 24 24"
				stroke-width="2"
				stroke="currentColor"
				fill="none"
				stroke-linecap="round"
				stroke-linejoin="round"
				><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
				  d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
				></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"
				></path><path d="M12 16l0 -5"></path><path
				  d="M16 16v-3a2 2 0 0 0 -4 0"></path></svg>
			</a>
			<a class="p-3 text-white hover:text-blue-500 ease-out duration-300 fill-white hover:fill-blue-500" href="https://github.com/Fabi-daza">
        <svg
				xmlns="http://www.w3.org/2000/svg"
				class="icon icon-tabler icon-tabler-brand-github"
				width="40"
				height="40"
				viewBox="0 0 24 24"
				stroke-width="2"
				stroke="currentColor"
				fill="none"
				stroke-linecap="round"
				stroke-linejoin="round"
				><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
				  d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
				></path></svg>
      </a>

        </div>
      </div>
    </section>
    <section class="flex flex-col items-center py-[60px]" id="about">
      <h3 class="text-blue-500 text-3xl p-5 font-bold">Sobre mí 😎</h3>
      <p>
        Profesional <b>autodidacta y curioso</b>, con foco en el
        <b>aprendizaje constante</b>. Comencé a estudiar programación con el
        deseo una transformación profesional, previamente ejercí como
        Constructor Civil pero todo me indicaba que mi rumbo apuntaba hacia el
        mundo
        <b>TI</b>.
      </p>
      <p>
        Comencé realizando sitios web en <b>Wordpress</b> y estudiando sobre
        <b>SEO</b> para ofrecer mis servicios de páginas web principalmente a Pymes
        y ecommerce que tenían la necesidad de transformar su forma de vender y digitalizar
        sus empresas, junto con esto comencé a estudiar sobre <b>SEM</b> para acelerar
        el proceso de visualización de sus negocios.
      </p>
      <p>
        Todo esto me llevó a querer <b>estudiar programación</b>, para poder dar
        mayor personalización a todo lo realizado y poder desarrollar todo
        aquello que quisiera, ahí comprendí que mi <b>real pasión</b> más que el
        marketing era la programación el hecho de
        <b>transformar una idea en un proyecto real y funcional</b> es lo que más
        me emociona, muy similar a mi interés inicial cuando estudié construcción
        civil.
      </p>
      <p>
        Partí estudiando de manera autodidacta
        <b>Javascript</b> a través de diversos creadores de contenido y luego decidí
        inscribirme a un Bootcamp para organizar de mejor manera los contenidos a
        estudiar.
      </p>

      <h3 class="text-blue-500 text-3xl p-5 font-bold">¿Mis Hobbies?</h3>
      <p>
        No todo debe ser programar 🤷🏻‍♂️. Siempre me ha encantado el deporte,
        Practique <b>Tenis y Waterpolo</b> en mi adolecencia, aunque ahora solo sigo
        jugando <b>Tenis</b>. Aprovecho mi tiempo libre viendo peliculas o
        series generalmente de <b>anime</b> además de jugar uno que otro videojuego.
      </p>
    </section>
    <section
      class="flex flex-col items-center py-[60px] bg-zinc-900"
      id="skills">
      <h3 class="text-white text-3xl p-5 font-bold">Skills</h3>
	  <h4 class="text-3xl text-white p-5">Front-end</h4>
      <div class="icons-group flex flex-wrap justify-center">
        <Icono src="https://i.ibb.co/VJn9c2J/icons8-javascript-48.webp" alt="Logo Javascript"></Icono>
        <Icono src="https://i.ibb.co/DKNhsSj/React.webp" alt="Logo React"></Icono>
        <Icono src="https://i.ibb.co/z5vHhcr/icons8-astro-js-64.webp" alt="Logo Astro"></Icono>
        <Icono src="https://i.ibb.co/cybdTQm/Tailwind.png" alt="Logo Tailwind"></Icono>
        <Icono src="https://i.ibb.co/0Q6pLBz/icons8-css-48.webp" alt="Logo Css"></Icono>
        <Icono src="https://i.ibb.co/4fFNS4G/icons8-oreja-48.webp" alt="Logo Bootstrap"></Icono>
      </div>
      <h4 class="text-3xl text-white p-5">Back-end</h4>
      <div class="icons-group flex flex-wrap justify-center">
        <Icono src="https://i.ibb.co/bbsJnsR/icons8-nodo-js-48.webp" alt="Logo Nodejs"></Icono>
        <Icono src="https://i.ibb.co/XyQNRzq/icons8-postgresql-48.webp" alt="Logo Postgresql" ></Icono>
        <Icono src="https://i.ibb.co/GPD7Qfx/icons8-expresar-js-40.webp" alt="Logo ExpressJS" ></Icono>
      </div>
      <h4 class="text-3xl text-white p-5">Formacion adicional</h4>
      <div class="icons-group flex flex-wrap justify-center">
        <i><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 48 48">
          <polygon fill="#ffc107" points="30.129,15.75 18.871,9.25 5.871,31.25 17.129,37.75"></polygon><path fill="#1e88e5" d="M31.871,37.75c1.795,3.109,5.847,4.144,8.879,2.379c3.103-1.806,4.174-5.77,2.379-8.879l-13-22 c-1.795-3.109-5.835-4.144-8.879-2.379c-3.106,1.801-4.174,5.77-2.379,8.879L31.871,37.75z"></path><circle cx="11.5" cy="34.5" r="6.5" fill="#43a047"></circle>
          </svg></i>
        <i><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 48 48">
          <path fill="#fff" d="M24 4.050000000000001A19.95 19.95 0 1 0 24 43.95A19.95 19.95 0 1 0 24 4.050000000000001Z"></path><path fill="#01579b" d="M8.001,24c0,6.336,3.68,11.806,9.018,14.4L9.385,17.488C8.498,19.479,8.001,21.676,8.001,24z M34.804,23.194c0-1.977-1.063-3.35-1.67-4.412c-0.813-1.329-1.576-2.437-1.576-3.752c0-1.465,1.471-2.84,3.041-2.84 c0.071,0,0.135,0.006,0.206,0.008C31.961,9.584,28.168,8,24.001,8c-5.389,0-10.153,2.666-13.052,6.749 c0.228,0.074,0.307,0.039,0.611,0.039c1.669,0,4.264-0.2,4.264-0.2c0.86-0.057,0.965,1.212,0.099,1.316c0,0-0.864,0.105-1.828,0.152 l5.931,17.778l3.5-10.501l-2.603-7.248c-0.861-0.046-1.679-0.152-1.679-0.152c-0.862-0.056-0.762-1.375,0.098-1.316 c0,0,2.648,0.2,4.217,0.2c1.675,0,4.264-0.2,4.264-0.2c0.861-0.057,0.965,1.212,0.104,1.316c0,0-0.87,0.105-1.832,0.152l5.891,17.61 l1.599-5.326C34.399,26.289,34.804,24.569,34.804,23.194z M24.281,25.396l-4.8,13.952c1.436,0.426,2.95,0.652,4.52,0.652 c1.861,0,3.649-0.324,5.316-0.907c-0.04-0.071-0.085-0.143-0.118-0.22L24.281,25.396z M38.043,16.318 c0.071,0.51,0.108,1.059,0.108,1.645c0,1.628-0.306,3.451-1.219,5.737l-4.885,14.135C36.805,35.063,40,29.902,40,24 C40,21.219,39.289,18.604,38.043,16.318z"></path><path fill="#01579b" d="M4,24c0,11.024,8.97,20,19.999,20C35.03,44,44,35.024,44,24S35.03,4,24,4S4,12.976,4,24z M5.995,24 c0-9.924,8.074-17.999,18.004-17.999S42.005,14.076,42.005,24S33.929,42.001,24,42.001C14.072,42.001,5.995,33.924,5.995,24z"></path>
          </svg></i>
        <i class="fill-white"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-seo" width="50" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 8h-3a1 1 0 0 0 -1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-3" /><path d="M14 16h-4v-8h4" /><path d="M11 12h2" /><path d="M17 8m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" /></svg></i>
      </div>

    </section>
    <section class="flex flex-col items-center py-[60px]" id="portfolio">
      <h3 class="text-blue-500 text-3xl p-5 font-bold"> Portafolio 💼</h3>
      <div>
        {data.map((proyecto) => (
          <Card 
          key={proyecto.id}
          nombre={proyecto.nombre}
          descripcion={proyecto.descripcion}
          demo={proyecto.demo}
          repositorio={proyecto.repositorio}
          img={proyecto.img}
          alt={proyecto.alt}
          skills={proyecto.skills}
          ></Card>
        )
                
        )}
      </div>
    </section>
    <section class="flex flex-col gap-10 items-center py-[60px] bg-zinc-900"
    id="formacion">
      <h3 class="text-white text-3xl p-5 font-bold">Formación</h3>
      <GradeCard src="https://broota.s3.amazonaws.com/solicitudes/590/logo/logo_RzsgV2q7VkgSrN9Kw1b5u538XzUHum_200_200.png" alt="Logo Academia desafio latam" titulo="Desarrollo Fullstack Javascript" subtitulo=" Academia Desafio Latam | 2023 - Finalizado"></GradeCard>
      <GradeCard src="https://logospng.org/download/udemy/udemy-4096.png" alt="Logo Udemy" titulo="Ultimate Javascript" subtitulo="Por: Nicolás Schurmann - 2023 - Finalizado"></GradeCard>
      <GradeCard src="https://logodownload.org/wp-content/uploads/2019/08/google-adwords-logo-0.png" alt="Logo Google ADS" titulo="Certificacion en anuncios de búsqueda" subtitulo="2022 - Finalizado"></GradeCard>
      <GradeCard src="https://preuniversitariopreutech.cl/wp-content/uploads/2016/12/Universidad-de-Santiago-de-Chile.png" alt="Logo Universidad de Santiago de Chile" titulo="Construcción Civil" subtitulo="Universidad de Santiago de Chile | 2019 - Titulado"></GradeCard>
    </section>
    <section class="flex flex-col items-center py-[60px]" id="portfolio">
      <h3 class="text-blue-500 text-3xl p-5 font-bold"> Contacto 📬</h3>
      <div class="flex">
        <a class="flex justify-center items-center gap-3 h-16 p-3 m-3 bg-blue-500 rounded-md shadow-2xl shadow-zinc-500 hover:translate-x-1 ease-out duration-300" href="mailto:fabian.daza2020@gmail.com">
          ✉️ Contactemos
        </a>
        <a class="flex justify-center items-center gap-3 h-16 p-3 m-3 bg-blue-500 rounded-md shadow-2xl shadow-zinc-500 hover:translate-x-1 ease-out duration-300" href="https://www.linkedin.com/in/fbdaza/"><svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-linkedin"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
          ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"
          ></path><path d="M12 16l0 -5"></path><path
            d="M16 16v-3a2 2 0 0 0 -4 0"></path></svg>
          <span>Linkedin</span></a>
        <a class="flex justify-center items-center gap-3 h-16 p-3 m-3 bg-blue-500 rounded-md shadow-2xl shadow-zinc-500 hover:translate-x-1 ease-out duration-300" href="https://github.com/Fabi-daza"><svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-github"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
          ></path></svg><span>Github</span></a>
      </div>
    </section>
  </main>
</Layout>

<style>

  main {
    margin: auto;
    width: 100%;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  p {
    padding: 5px 40px;
    margin: 5px 0px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #000000;
  }
  b {
    color: rgb(59 130 246);
  }
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
      url(./imagenes/hero.webp);
    with: 100%;
    min-height: 80vh;
    background-position: center;
    background-size: cover;
  }

	main {
		margin: auto;
		width: 100%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.hero{
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url(../imagenes/hero.webp);
		with:100%;
		min-height: 80vh;
		background-position: center;
		background-size: cover;
		
	}
</style>
